<%@dreams.each do |t|%>
  <a href="/dreams/<%=t.slug%>"><%= t.name %></a>
  <%= t.user_id %>
  <%t.themes.each do |t|%>
    <%=t.name%>
  <%end%>
<%end%>
<main>
  <div class="card-deck">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</main>
