<section class="pt-5 w-75 mx-auto">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Dream Theme: <%= @theme.name %></h2>


      <p class="card-text lead">When you dreamed about <%= @theme.name %>, you also dreamed about:</p>
      <% if collab.empty? %>
        <p class="card-text lead">Your <%= @theme.name %> dreams do not contain any other themes.</p>
      <% else %>
        <p class="card-text lead"><strong><%= collab %></strong></p>
      <% end %>
    </div>
  </div>
</section>
