#background-photo {
  background-image: url(../img/zhen-hu-419502-unsplash.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  text-align: right;
}
