<h2>Create a Dream Catcher Account</h2>

<form method="POST" action="/signup">
  <label>Username:</label>
  <input type="text" name="username">
  <label>Email:</label>
  <input type="email" name="email">
  <label>Password:</label>
  <input type="password" name="password">

  <input type="submit">
</form>
