<main id="background-photo">
  <div class="container py-5">
    <h1 class="display-4">Welcome to Dream Catcher</h1>
    <p>Please login or signup below:</p>

    <div>
      <% if logged_in? %>

        <a class="btn btn-primary" href="/logout"> Log Out </a>
        <p>Welcome, <%=current_user.username %></p>

      <% else %>
        <a class="btn btn-primary" href="/signup">Sign Up</a>
        <a class="btn btn-primary" href="/login"> Sign In </a>
      <%end %>

    </div>
    <p>Photo by Artem Bali on Unsplash</p>

  </div>




</main>
