<main class="d-flex justify-content-center align-items-center" style="height: 75vh;">
  <div>
    <h1 class="display-4">Welcome to Dream Catcher</h1>
    <img src="../img/noun_Dreamcatcher.png" class="img-fluid d-block mx-auto mt-4" alt="Responsive image" width="250">

    <div class="text-center mt-4">

      <% if logged_in? %>

        <h3>Hello, <%=current_user.username %>!</h3>

      <% else %>
        <p class="h5 pb-3">Please login or signup below</p>
        <a class="btn btn-info mx-2" href="/signup">Sign Up</a>
        <a class="btn btn-info mx-2" href="/login"> Sign In </a>
      <%end %>

    </div>

  </div>
</main>
